#HeroSection{
  min-height: 50vh;
}
/* #BtnGroupLS {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 50px 10px 50px; 
} */



.needSpace{
  margin: 10px;
  display: flex;
  height: 50px;
  width: auto;
  background: linear-gradient(100deg,rgb(51, 51, 213),rgb(125, 62, 7),rgb(10, 149, 177));
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


@media screen and (min-width:800px) {
 

.needSpace{
  color: rgb(46, 51, 183);
}
}





/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
